<div class="container mt-5">
    <div class="row">
        <h1 class="text-center title">TO DO LIST</h1>
    </div>
<div class="row">
    <div class="col-lg-8 offset-2 mb-5">
        <input type="text" [(ngModel)]="tarea" (keyup.enter)="agregarTarea()" class="form-control form-control-lg text-center" placeholder="Ingrese tarea">
    </div>
</div>
    <div class="row">
        <div class="col-lg-4">
        <h4 class="custome">To do</h4>
        <div cdkDropList class="example-list" id="list-todo" [cdkDropListData]="todo" [cdkDropListConnectedTo]="['list-progress']" (cdkDropListDropped)="drop($event)">
            @for (item of todo; track todo) {
                <button id="todo" (click)="deleteMe($event, todo)" class="btn"><i class="fa-solid fa-trash"></i></button>
            <div class="example-box" cdkDrag>{{item}}</div>
            }
        </div>
    </div>

    <div class="col-lg-4">
        <h4 class="custome">In progress</h4>
        <div cdkDropList class="example-list" id="list-progress" [cdkDropListData]="progress" [cdkDropListConnectedTo]="['list-todo','list-done']" (cdkDropListDropped)="drop($event)">
            @for (item of progress; track progress) {
            <div class="example-box" cdkDrag>{{item}}</div>
            }
        </div>
    </div>

        <div class="col-lg-4">
            <h4 class="custome">Done</h4>
            <div cdkDropList class="example-list" id="list-done" [cdkDropListData]="done" [cdkDropListConnectedTo]="['list-progress']" (cdkDropListDropped)="drop($event)">
                @for (item of done; track done) {
           <input (change)="subirArchivo($event)" type="text">
                <div class="example-box" cdkDrag>{{item}}</div>
                }
            </div>
        </div>
    </div>
